[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
grpcio-tools = "==1.20.1"

[packages]
opencv-contrib-python = "==3.3.0.9"
opencv-python = "==3.3.0.9"
grpcio = "*"
tensorflow-serving-api = "*"
imutils = "*"

[requires]
python_version = "3.6"
